@import './mixin'
@import './taginput'

body
    color: #222
    font-family: Verdana

h2
    text-align: center
    font-size: 22px

p
    text-align: center
    font-size: 16px

.demo_div
    margin: 10px auto
    width: 500px

.story_div
    border: 1px solid #DDD
    margin-bottom: 5px
    width: 500px

.story_div .header
    background-color: #F2F2F2
    padding: 3px

.story_div .story_id
    float: left
    font-weight: bold

.story_div .title
    padding-left: 5px
    font-weight: bold
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.story_div .subtitle
    font-size: 10pt
    color: #999
    float: right

.story_div .description
    color: #000
    background-color: white
    font-size: 11pt
    padding: 5px 3px 5px 3px

.story_div .footer
    margin: 0
    padding: 1px 3px 1px 3px
    background-color: #F2F2F2
    font-size: 10pt
    color: #444

.story_div .footer .footer_col
    float: left
    width: 33.333333333%

.story_div .footer .col1
    text-align: left

.story_div .footer .col2
    text-align: center

.story_div .footer .col3
    text-align: right
