body
  font-size: 15pt

.taginput
    position: relative

.taginput .tag
    border-radius(1em)
    border: none
    line-height: 1.0
    color: #FFF
    vbg-gradient(#CCF, #AAF)
    padding: 0 0 0 0.5em
    margin: 0 0 0 3px
    cursor: default
    &:hover
      background: #CCF !important
    
.taginput .addtagcircle
    border: none
    border-radius(50%)
    text-align: center
    color: #FFF
    vbg-gradient(#CCF, #AAF)
    padding: 0 0.2em 0 0.2em
    margin: 0 0 0 3px
    cursor: default
    &:hover
      color: blue
      background: #CCF !important

.taginput i.icon-remove
    color:#999
    margin-right:3px
    cursor: default
    color: red
    visibility: hidden

.taginput .newtaginput
    position: relative
    border-radius(1em)
    border: none
    line-height: 1.0
    color: #FFF
    vbg-gradient(#CCF, #AAF)
    padding: 0 0.5em 0 0.5em
    margin: 0 0 0 3px

.taginput input
    width: 50px
    border: none
    background: none
    padding: 0
    margin: 0
    outline-width: 0
    //can anyone please tell me why bootstrap suddenly defines a font for input elements???
    font: inherit
    color: inherit
    vertical-align:baseline
    
   

.tagOracle
    position: absolute
    top: 1.2em
    left: 9px
    border-radius(3px)
    border: 1px solid black
    background: #EEE
    color: #000
    box-shadow(2px 2px 4px rgba(80, 80, 80, 0.2))
    
.tagOracle ul
    list-style-type: none
    padding: 2px
    margin: 0

.tagOracle .selectedSuggestion
    vbg-gradient(#CCF, #AAF)
