
.tagtextfield_glow
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;

.taginput .tag
    border-radius(1em)
    border: none
    line-height: 1.0
    color: #FFF
    vbg-gradient(#CCF, #AAF)
    padding: 0 0 0 0.5em
    margin: 0 0 0 3px
    cursor: default

.taginput i.icon-remove
    color:#999
    margin-right:3px
    cursor: default
    color: red
    visibility: hidden

.taginput .newtag
    border-radius(1em)
    border: none
    line-height: 1.0
    color: #FFF
    vbg-gradient(#CCF, #AAF)
    padding: 0 0.5em 0 0.5em
    margin: 0 0 0 3px
    width: 50px
    vertical-align: baseline
    outline-width: 0

.mouseover
    background: #CCF !important

